.stylebox {
    border-style: solid;
    border-color: lightsteelblue;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(224, 249, 255);
    box-shadow: 5px 5px 5px lightsteelblue;
}

.title-custom {
    background-image: linear-gradient(to right, steelblue, midnightblue);
    color: white;
    height: 52px;
}

#cityNow,
#dateToday {
    font-weight: bolder;
}

#Forcast-card {
    box-shadow: 5px 5px 5px lightblue;
}

button {
    width: 200px;
    margin-top: 20px;
}

aside,
h4 {
    margin-top: 20px;
}

.UVstyle.green {
    background-color: limegreen;
    border-color: darkgreen;
    display: inline-block;
}

.UVstyle.yellow {
    background-color: yellow;
    border-color: darkgoldenrod;
    display: inline-block;
}

.UVstyle.orange {
    background-color: orange;
    border-color: darkorange;
    display: inline-block;
}

.UVstyle.red {
    background-color: fuchsia;
    border-color: darkred;
    display: inline-block;
}

.cityButton {
    background-color: steelblue;
}


/* MEDIA QUERY - responsive until breakpoint needed for small smartphone */


/* Small smartphones */

@media screen and (max-width: 576px) {
    #previous-cities {
        display: inline-block;
    }

    .cityButton {
        width: 100px;
        margin-top: 10px;
        margin-right: 5px;
        font-size: x-small;
    }
  
}

@media screen and (max-width: 820px) {
    #previous-cities {
        display: inline-block;
    }

    button {
        margin-top: 10px;
        margin-right: 5px;
        width: 180px;
    }

    #weatherData {
        /* margin-left: 50px; */
    }

    aside {

    }
}